.speedo-theme-blueglass.speedo-container
{
	background: rgba(0, 0, 0, 0.45) none repeat-x scroll 0 0;
	background-clip: padding-box;
	border: 1px solid #565e65;
	outline: 0;
	position: fixed;
	padding: 35px 24px 24px;
	z-index: 100004;
	left: 50%;
	top: 50%;
	color: eee;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
background: -moz-linear-gradient(top,  rgba(48,58,68,0.45) 0%, rgba(28,35,41,0.45) 92%, rgba(61,74,89,0.45) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(48,58,68,0.45)), color-stop(92%,rgba(28,35,41,0.45)), color-stop(100%,rgba(61,74,89,0.45))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(48,58,68,0.45) 0%,rgba(28,35,41,0.45) 92%,rgba(61,74,89,0.45) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(48,58,68,0.45) 0%,rgba(28,35,41,0.45) 92%,rgba(61,74,89,0.45) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(48,58,68,0.45) 0%,rgba(28,35,41,0.45) 92%,rgba(61,74,89,0.45) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(48,58,68,0.45) 0%,rgba(28,35,41,0.45) 92%,rgba(61,74,89,0.45) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73303a44', endColorstr='#733d4a59',GradientType=0 ); /* IE6-9 */

	
	/*-moz-box-shadow: 2px 2px 13px rgba(0,0,0,.4);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 13px rgba(0, 0, 0, .4);*/
}

.speedo-theme-blueglass .speedo-popup-caption
{
	position: absolute;
	left: 10px;
	top: 4px;
	padding: 0;
	/*margin: -1.8em 0 0;*/
	margin: 0;
	color: #eee;
}

.speedo-theme-blueglass .speedo-popup-playpause-button
{
	position: absolute;
	left: 10px;
	bottom: 4px;
	width: 21px;
	height: 21px;
	margin: 0;
	background: transparent url('images/play.png') no-repeat scroll 0 0;
}

.speedo-theme-blueglass .speedo-popup-playpause-button.pause
{
	background: transparent url('images/pause.png') no-repeat scroll 0 0;
}

.speedo-theme-blueglass .speedo-popup-previous-button
{
	position: absolute;
	left: 36px;
	bottom: 4px;
	width: 21px;
	height: 21px;
	margin: 0;
	background: transparent url('images/prev.png') no-repeat scroll 0 0;
}

.speedo-theme-blueglass .speedo-popup-next-button
{
	position: absolute;
	left: 62px;
	bottom: 4px;
	width: 21px;
	height: 21px;
	margin: 0;
	background: transparent url('images/next.png') no-repeat scroll 0 0;
}

.speedo-theme-blueglass .speedo-popup-group-caption
{
	position: absolute;
	left: 88px;
	bottom: 4px;
	height: 21px;
	margin: 0;
	white-space: nowrap;
}

.speedo-theme-blueglass .speedo-popup-group-count
{
	position: absolute;
	right: 10px;
	bottom: 4px;
	height: 21px;
	margin: 0;
	white-space: nowrap;
}

.speedo-theme-blueglass .speedo-popup-drag-area
{
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	z-index: 100;
}

.speedo-theme-blueglass .speedo-ui-close
{
	position: absolute;
	background: rgba(229,64,64,0.45) url('images/close-btn.png') no-repeat center center;
	right: 0px;
	top: 0px;
	/*width: 46px;
	height: 46px;*/
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 1000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	transition: background-color 1s;
	-moz-transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

.speedo-theme-blueglass .speedo-ui-close:hover
{
	background-color: rgba(216,60,60,0.45);
}

.speedo-theme-blueglass .speedo-content-holder
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: eee;
}

.speedo-theme-blueglass.speedo-overlay
{
	background: #5098F3  none repeat scroll 0 0;
	filter: alpha(opacity=30);
	-moz-opacity: .30;
    z-index: 10000;
	height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
}